
<div class="container d-flex justify-content-center align-items-center ">
    <br>
    <mat-card align-center>
        <mat-card-header>
            <div mat-card-avatar class="card-header-image"></div>
           
            <mat-card-title >{{this.currentUser?.name}}</mat-card-title>

            <button mat-raised-button>Delete profile</button>
            <button mat-raised-button>Logout</button>

        </mat-card-header>
    <mat-card-content>
    <div class="row">
        <div class="col">
            <div class="chart-container">
                <canvas id="profileInfo" #myChart></canvas>
            </div>
        </div>
        <div class="col">

            <form [formGroup]="editForm">

                <h3>Change profile data</h3>
        
                <mat-form-field class="example-full-width">
                  <mat-label>Username</mat-label>
                  <input matInput 
                    type="text" 
                    formControlName="username" 
                    placeholder="Username">
                    <mat-error 
                    *ngIf="editForm.get('username')?.touched && editForm.get('username')?.errors?.['required']
                    && editForm.get('username')?.errors?.['maxlength']
                    && editForm.get('username')?.errors?.['minLength']
                    "></mat-error>
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput             
                    type="text" 
                    formControlName="email" 
                    placeholder="Email">
                    <mat-error 
                    *ngIf="editForm.get('email')?.touched && editForm.get('email')?.errors?.['required']
                    && editForm.get('email')?.errors?.['email']
                    "></mat-error>
                  </mat-form-field>
                  
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error 
                    *ngIf="editForm.get('password')?.touched && editForm.get('password')?.errors?.['required']
                    "></mat-error>
                </mat-form-field>
                <button type="submit" [disabled]="editForm.invalid" mat-raised-button>Edit profile</button>
            </form>
        
                <mat-divider></mat-divider>
        
           
        </div>
        <div class="col">
            <form [formGroup]="changePasswordForm">
        
                <h3>Change password</h3>
        
                <mat-form-field class="example-full-width">
                    <mat-label>New password</mat-label>
                    <input matInput type="text" 
                    formControlName="newPassword"
                    >
                    <mat-error 
                    *ngIf="editForm.get('newPassword')?.touched && editForm.get('newPassword')?.errors?.['required']
                    && editForm.get('newPassword')?.errors?.['maxlength']
                    && editForm.get('newPassword')?.errors?.['minLength']
                    && editForm.get('newPassword')?.errors?.['pattern']
                    "></mat-error>
                  </mat-form-field>
                  
                <mat-form-field class="example-full-width">
                    <mat-label>Current password</mat-label>
                    <input matInput  type="currentPassword"
                    formControlName="currentPassword">
                    <mat-error 
                    *ngIf="editForm.get('currentPassword')?.touched && editForm.get('currentPassword')?.errors?.['required']
                    && editForm.get('currentPassword')?.errors?.['maxlength']
                    && editForm.get('currentPassword')?.errors?.['minLength']
                    && editForm.get('currentPassword')?.errors?.['pattern']
                    "></mat-error>
                </mat-form-field>
                <button type="submit" [disabled]="changePasswordForm.invalid" mat-raised-button>Change password</button>
            
              </form>
        </div>
       
       
    </div>

  
      
    </mat-card-content>
    <!--mat-card-actions [align]="'end'">
        <button mat-raised-button>Delete profile</button>
        <button mat-raised-button>Logout</button>
    </mat-card-actions-->
    </mat-card>
</div>