<div class="container">

  <h2>Feed</h2>

  <div class="add-button" [align]="'end'">
    <button mat-raised-button href="plantsadd" (click)="goToAddPostPage()" >Create a New Post</button>
  </div>

  <div>
    
      <mat-form-field style="width: 100%" appearance="fill">
      <input  
             matInput 
             [(ngModel)]="searchText" 
             placeholder="Search" 
             autocomplete="off" >
    </mat-form-field>
    
  </div>

  <mat-tab-group>
    <mat-tab label="All">
          
        <div class="my-3" *ngFor="let post of posts | filter : searchText" >
          
          <mat-card class="card width:fill">
            <mat-card-header>
              <img mat-card-avatar *ngIf="post.profileImage != null" [src]="post.profileImage" alt="?">
              <img mat-card-avatar *ngIf="post.profileImage == null" src="../../assets/defaultprofilepic.png" alt="">
              <mat-card-title>{{post.userName}}</mat-card-title>
              <mat-card-subtitle>{{post.dateOfCreation | date : 'medium'}}</mat-card-subtitle>
      
            </mat-card-header>

            <mat-card-content>
              <mat-card-title>{{ post.title }}</mat-card-title>
              <p>{{post.content}}</p>
              <p>
                <img [src]="post.imageData" alt="">
              </p>
              
              <p [align]="'end'">Number of comments on this post: {{post.replyCount}}</p>

            </mat-card-content>

            <mat-card-actions [align]="'end'">
              <button *ngIf="post.userId==currentUserId" (click)="deletePost(post.id)" mat-stroked-button color="warn">Delete</button>
              <button *ngIf="post.userId==currentUserId" (click)="goToEditPost(post.id)" mat-stroked-button >Edit</button>
                <button mat-stroked-button (click)="goToPostDetails(post.id)">See more details or leave a reply..</button>
              
            </mat-card-actions>
          </mat-card>

      </div>
            
    </mat-tab>
    <mat-tab label="My Posts"> 
      <div class="my-3" *ngFor="let post of postsOfUser | filter : searchText" >
          
        <mat-card class="card width:fill">
          <mat-card-header>
            <img mat-card-avatar *ngIf="post.profileImage != null" [src]="post.profileImage" alt="?">
            <img mat-card-avatar *ngIf="post.profileImage == null" src="../../assets/defaultprofilepic.png" alt="">
            <mat-card-title>{{post.userName}}</mat-card-title>
            <mat-card-subtitle>{{post.dateOfCreation | date : 'medium'}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <p>{{post.content}}</p>
            <p>
              <img [src]="post.imageData" alt="">
            </p>
            <p [align]="'end'">Number of comments on this post: {{post.replyCount}}</p>

          </mat-card-content>

          <mat-card-actions [align]="'end'">
            <button *ngIf="post.userId==currentUserId" (click)="deletePost(post.id)" mat-stroked-button color="warn">Delete</button>
            <button *ngIf="post.userId==currentUserId" (click)="goToEditPost(post.id)" mat-stroked-button >Edit</button>  
            <button mat-stroked-button (click)="goToPostDetails(post.id)">See more details or leave a reply..</button>
            
          </mat-card-actions>
        </mat-card>

    </div>
   </mat-tab>

    <mat-tab label="My Replies"> 
      <div class="my-3" *ngFor="let post of postsOfUserReplies | filter : searchText" >
          
        <mat-card class="card width:fill">
          <mat-card-header>
            <img mat-card-avatar *ngIf="post.profileImage != null" [src]="post.profileImage" alt="">
            <img mat-card-avatar *ngIf="post.profileImage ==undefined " src="../../assets/defaultprofilepic.png" alt="">
            <mat-card-title>{{post.userName}} </mat-card-title>
            <mat-card-subtitle>{{post.dateOfCreation | date : 'medium'}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <p>{{post.content}}</p>
            <p>
              <img [src]="post.imageData" alt="">
            </p>
            <p [align]="'end'">Number of comments on this post: {{post.replyCount}}</p>

          </mat-card-content>

          <mat-card-actions [align]="'end'">
            <button *ngIf="post.userId==currentUserId" (click)="deletePost(post.id)" mat-stroked-button color="warn">Delete</button>
              <button mat-stroked-button (click)="goToPostDetails(post.id)">See more details or leave a reply..</button>
            
          </mat-card-actions>
        </mat-card>

    </div>
    </mat-tab>
  </mat-tab-group>
  
</div>

<router-outlet></router-outlet>