<div class="container">
  <h2 class="text-center my-3">Feed</h2>

  <div class="addButtonRow my-5">
    <button mat-raised-button href="plantsadd" (click)="goToAddPostPage()" >Create a New Post</button>
  </div>

  <div>
    <mat-toolbar>
      <mat-form-field style="width: 100%" >
      <input  
             matInput 
             [(ngModel)]="searchText" 
             placeholder="Search" 
             autocomplete="off" >
    </mat-form-field>
    </mat-toolbar>
  </div>


  <div class="my-3" *ngFor="let post of posts | filter : searchText" >
    
      <mat-card class="card width:fill">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
            
        
            <mat-card-title>{{post.userName}}</mat-card-title>
            <mat-card-subtitle>{{post.dateOfCreation | date}}</mat-card-subtitle>
            <!--mat-card-title-group>
          </mat-card-title-group-->
          
        </mat-card-header>

        <mat-card-content>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <p>{{ post.content }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
          
            <button mat-stroked-button (click)="goToPostDetails(post.id)">See more details or leave a reply..</button>
          
        </mat-card-actions>
      </mat-card>
 
  </div>

  <mat-paginator (page)="OnPageEvent($event)"
              [length]="posts.length"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>

  
</div>

<router-outlet></router-outlet>