.card {
    transition: all 0.5s;
    padding: 5px;
}

.card:hover {
    transform: scale(1.05);
}

mat-card-title{
    vertical-align: middle !important;
}

mat-card-content {
    display: flex !important;
    flex-direction: column !important;
}

mat-card-actions {
    margin-top: auto !important;
    text-align: right;
}

.col-md-6 {
    margin-bottom: 10px;
}

