
<div class="container">

        <mat-card class="card">
  
          <mat-card-header >
            
              <div mat-card-avatar class="card-header-image"></div>
              <mat-card-title-group >
                
                <div mat-card-title [align]="'start'" class="col" >{{currentPost?.userName}}</div>
                <div  class="col" [align]="'end'">{{currentPost?.dateOfCreation | date : 'medium'}}</div >
              </mat-card-title-group>
                      
          </mat-card-header>

          <mat-card-content>
            
              <mat-card-title>{{ currentPost?.title }}</mat-card-title><br>
              <p>{{currentPost?.content}}</p>

            <br>
            <mat-divider></mat-divider>
            <br>
            
            <mat-list *ngFor="let reply of replies">
              
              <mat-divider></mat-divider>
              
                <mat-list-item class="mat-list-item-word-wrap" >
                    
                      
                  <mat-avatar matListItemAvatar >
                    <img class="h-100" src="../../../assets/defaultprofilepic.png" alt="">
                  </mat-avatar>
                  

                  <div matListItemTitle class="row">
                    <div class="col">
                      <div matListItemLine class="reply-username">{{reply.username}} </div>
                      <div matListItemLine class="reply-date" >{{reply.dateOfCreation | date : 'medium'}}</div>
                    </div>
                   
                    <div class="col">
                      <button *ngIf="reply.userId==currentUserId" (click)="deleteReply(reply.id)" mat-stroked-button color="warn">Delete</button>

                    </div>
                  </div>

                  <div matListItemLine class="reply-content">{{reply.content}}
                  </div>
                 
                </mat-list-item>
                <br>
                <mat-divider></mat-divider>
                               
              </mat-list>
              
          </mat-card-content>
  
          <mat-card-actions >

              <form [formGroup]="addReplyForm" (ngSubmit)="addReply()" class="example-form h-100">
                <mat-form-field color="primary" appearance="outline" class="example-full-width">
                  <mat-label>Leave a comment</mat-label>
                  <textarea 
                  matInput 
                  formControlName="content" 
                  placeholder="My comment..."
                  required  ></textarea>
                 <mat-error 
                 *ngIf="content?.touched && content?.errors?.['required']">
                 This field is required.
                </mat-error>
                </mat-form-field>
              
                <div [align]="'end'">
                  <button mat-raised-button [disabled]="addReplyForm.invalid" type="submit">Send</button>
                  <button mat-raised-button (click)="goBack()" >Back</button>
                  
                </div>
             
            </form>
            
           
          </mat-card-actions>
        </mat-card>
   
    </div>
  
