

.container {
  background-color: white;
  opacity: 0.95;
  margin-top: 1rem;
  
}

mat-card {
  padding-bottom: 1rem;
  width: 100%;
}

.card-header-image {
    background-image: url("../../../assets/defaultprofilepic.png");
    background-size: cover;
    margin: 0rem;
  }

  mat-card-header {
    display:flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  .example-form {

    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-list-item {
   display: flex;
   align-items: center;
   color: black;
   
  }
  matListItemTitle{
    color: black;
  }
  
  .mat-list-item-word-wrap .mat-line {
    word-wrap: break-word !important; 
    white-space: pre-wrap !important;
  }

  button {
    float: right;
    margin-left: 5px;
  }