

.container { 
  opacity: 0.95;
}

mat-card {
  padding-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  width: 100%;
}

  mat-card-header {
    display:flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  .card-header-image {
    background-image: url("../../../assets/defaultprofilepic.png");
    background-size: cover;
    margin: 0rem;
  }

  .example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-list-item {
   display: flex;
   align-items: start;
   color: black; 
   padding-top: 0.5rem;
  }  


  button {
    float: right;
    margin-left: 5px;
  }

  .reply-username {
    font-size: large;
    font-weight: 400;
    color: black;
  }

  .reply-date {
    font-size: small;
    font-weight: 300;
    color: black;
  }

  .reply-content {
    font-size: small;
    font-weight: 400;
    color: black;
    word-wrap: break-word !important; 
    white-space: pre-wrap !important;
  }

  .reply-avatar {
    padding-top: 1rem;
    height: 20px;
    width: 20px;
  }

