
h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

.container {
 /*   display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    opacity: 0.8;
    background-color: white;
  }

.btn {
    margin: 3px;
    opacity: 0.8;
}

.button-row{
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

img {
    max-width: 200px;
}

.col {
    text-align: center;
}

mat-form-field{
    min-width: 400px;
}


.file-input {
    display: none;
  }
