
<div class="container">
  <div>

    <h2 class="text-center">Add plant</h2>  
      
      <form [formGroup]="addForm" (ngSubmit)="addPlant()">
        <div class="row">
            <!--button mat-raised-button (click)="fileInput.click()">Upload image</button-->
            <!--input #fileInput matInput type="file" (change)="onFileChanged($event)" /-->
            <div class=" col" >
              
                <h3 style="text-align: center;">Plant info:</h3>

                <mat-form-field  appearance="outline">
                  <mat-label >Name</mat-label>
                  <input  
                    type="text" 
                    formControlName="name" 
                    placeholder="Name" matInput>
                  <mat-hint 
                    *ngIf="addForm.get('name')?.touched || addForm.get('name')?.errors?.['required']
                    ">This field is required.</mat-hint>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                  <mat-label>Description</mat-label>
                  <textarea 
                    type="text"
                    formControlName="description"
                    placeholder="Add description"
                    rows="3"
                    matInput></textarea>
                </mat-form-field>

                <div  style="float:none;margin:auto;align-items: center;">
                  <img src="assets/plant-icon.avif" alt="">
                  
                  <input  type="file" class="file-input"
                        (change)="onFileChanged($event)" #fileUpload
                         accept="image/png">
                        
      
                  <div class="file-upload">
                      <button mat-raised-button color="primary" type="button" class="upload-btn"
                        (click)="fileUpload.click()">
                          Upload image
                      </button>
                      {{fileName || "No file uploaded yet."}}
                      <button mat-raised-button class="cancel-upload" (click)="cancelUpload()" 
                              >Cancel upload</button>
                  </div>
    
                <!--mat-form-field appearance="outline">
                  <mat-label>Image</mat-label>
                  <input 
                    type="text" 
                    formControlName="imageUrl"
                    id="UploadImage" 
                    placeholder="Paste th url."
                    matInput>
                </mat-form-field-->
              </div>
            </div>

            <!--button mat-raised-button type="button" (click)="showMaintenance()">I want reminder notifications of the maintenance of the plant. </button-->
            <div class="col" >
              
              <mat-slide-toggle (toggleChange)="showMaintenance()" >I want reminder notifications of the maintenance of the plant.</mat-slide-toggle>
              <h3 style="text-align: center;">Maintenance info:</h3>
           
              <mat-form-field appearance="outline" style="margin-bottom: 20px;">
                <mat-label>Last maintenance date</mat-label>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <input 
                matInput 
                [matDatepicker]="dp3" 
                formControlName="lastNotification"
                >
                <mat-error 
                    *ngIf="addForm.get('lastNotification')?.touched || addForm.get('lastNotification')?.errors?.['required']
                    ">This field is required.</mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 ></mat-datepicker>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Interval of days</mat-label>
                <mat-hint>The frequency of notifications. (eg. 2 days) </mat-hint>
                <input 
                type="number" 
                formControlName="interval"
                id="Interval" 
                placeholder="1"
                matInput>
                
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Note</mat-label>
                <mat-hint>This note will be included in the notification email. (watering amount)</mat-hint>
                <input 
                matTooltip="We will send you this note in the notification email."
                type="text" 
                formControlName="note"
                id="Note" 
                placeholder="..."
                matInput>
                
              </mat-form-field>
            </div>
            

          </div>
          
          <div class="button-row" >
            <button mat-stroked-button (click)="goBack()" >Cancel</button>
            <button mat-stroked-button [disabled]="addForm.invalid" type="submit" class="gy-3" >Save</button>
            
          </div>
        
      

      </form>
      
    </div>

</div>


<router-outlet></router-outlet>

   