table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
    text-align: center;
  }

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  