
<div class="container d-flex justify-content-center align-items-center ">
    <div>
  
      <h2 class="text-center">Add Post</h2>
  
      <div class="row">
        <div class="col">
          <img src="assets/plant-icon.avif" alt="">
        </div>
      </div>
  
      <div class="row">
        
        <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
          <div class="row">
            <div class="col">
  
              <mat-form-field  appearance="fill">
                <mat-label >Title</mat-label>
                <input  
                
                type="text" 
                formControlName="title" 
                placeholder="Title" matInput>
                <mat-error
                *ngIf="title?.touched && title?.errors?.['required']">A title is required.
                </mat-error>
                <mat-error *ngIf="title?.errors?.['maxlength']">
                  Title should be less than 50 characters.
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="fill">
                <mat-label>Content</mat-label>
                <textarea 
                type="text"
                formControlName="content"
                placeholder="Add description"
                rows="3"
                matInput></textarea>
                <mat-error
                *ngIf="content?.touched && content?.errors?.['required']">Field must be filled.
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="fill">
                <mat-label>Image</mat-label>
                <input 
                type="text" 
                formControlName="imageUrl"
                id="UploadImage" 
                placeholder="imageurlvagyvalami"
                matInput>
              </mat-form-field>
            </div>
      
          </div>
  
          <div class="row">
            <div class="button-row">
              <button mat-stroked-button [disabled]="addPostForm.invalid" type="submit" class=" gy-3" >Save</button>
              <a mat-stroked-button href="main" >Cancel</a>
            </div>
          </div>

        </form>
        
      </div>
    </div>
  </div>
  
  
  <router-outlet></router-outlet>
