
<div class="container d-flex justify-content-center align-items-center ">
    <div>
  
      <h2 class="text-center my-5">Add Post</h2>
  
      <div class="row">
        <div class="col" style="float:none;margin:auto;align-items: center;">
          <img src="assets/plant-icon.avif" alt=""><br>
          <button mat-raised-button>Upload image</button>
        </div>
      
  
      <div class="col">
        
        <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
                  
  
              <mat-form-field  appearance="outline">
                <mat-label >Title</mat-label>
                <input  
                type="text" 
                formControlName="title" 
                placeholder="Title" matInput>
                <mat-error
                *ngIf="title?.touched && title?.errors?.['required']">A title is required.
                </mat-error>
                <mat-error *ngIf="title?.errors?.['maxlength']">
                  Title should be less than 50 characters.
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Content</mat-label>
                <textarea 
                type="text"
                formControlName="content"
                placeholder="Add description"
                rows="3"
                matInput></textarea>
                <mat-error
                *ngIf="content?.touched && content?.errors?.['required']">Field must be filled.
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                <mat-label>Image</mat-label>
                <input 
                type="text" 
                formControlName="imageUrl"
                id="UploadImage" 
                placeholder="imageurlvagyvalami"
                matInput>
              </mat-form-field>
            
  
          
            <div class="button-row" [align]="'end'">
              <button mat-raised-button [disabled]="addPostForm.invalid" type="submit" >Save</button>
              <a mat-raised-button href="main" >Cancel</a>
            </div>

        </form>
        
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
