
<div class="container">


  <form [formGroup]="addForm" (ngSubmit)="addItem()">
    <h2>Add a For Sale Item</h2>

    <mat-form-field appearance="outline" style="width:50vw">
      <mat-label>Name</mat-label>
      <input matInput
      type="text"
      formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:50vw">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="">Select</mat-option>
        <mat-option value="0">Plant</mat-option>
        <mat-option value="1">Bowl</mat-option>
        <mat-option value="2">Soil</mat-option>
        <mat-option value="3">Tool</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:50vw">
      <mat-label>Price</mat-label>
      <input matInput 
      type="number"
      formControlName="price">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:50vw">
      <mat-label>Description</mat-label>
      <textarea matInput 
      type="text" 
      formControlName="description"
      rows="2"></textarea>
    </mat-form-field>

    <div>
      <img src="assets/plant-icon.avif" alt="">
      
      <input  type="file" class="file-input"
            (change)="onFileChanged($event)" #fileUpload
             accept="image/png">
            

      <div class="file-upload">
          <button mat-raised-button type="button" class="upload-btn" color="secondary"
            (click)="fileUpload.click()">
              Upload image
          </button>
          {{fileName || "No file uploaded yet."}}
          <button mat-icon-button type="button" class="cancel-upload" (click)="cancelUpload()" 
                  ><mat-icon color="secondary">cancel</mat-icon></button>
      </div>

    <!--mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <input 
        type="text" 
        formControlName="imageUrl"
        id="UploadImage" 
        placeholder="Paste th url."
        matInput>
    </mat-form-field-->
  </div>

    <!--mat-form-field appearance="outline" style="width:50vw">
      <mat-label>Image</mat-label>
      <input matInput formControlName="image">
    </mat-form-field-->
  
    <div class="button-row">
      <button mat-raised-button (click)="goToMarketPlace()">Cancel</button>
      <button type="submit" mat-raised-button>Save</button>
    </div>

  </form>

</div>