
h2 {
    /*margin: 10px;*/
    font-weight: 500;
}

h3{
    font-weight: 500;
}

.container {
    background-color: white;
    opacity: 0.8;
    
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

form {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  }
  

.btn {
    margin: 3px;
}

.button-row{
    margin-right: 10px;
 }

img {
    max-width: 200px;
    opacity: 1;
}

.col {
    text-align: center;
    
}

mat-form-field{
    min-width: 400px;
    appearance: fill;
    
}

input {
    color: black;
    font-weight: 500;
}

.file-input {
    display: none;
  }
