
<div class="container d-flex justify-content-center align-items-center ">

  <div>
  <form [formGroup]="editForm" (ngSubmit)="editPlant()">

    <div>
      <label for="name">Name</label>
      <input 
      class="input-group" 
      type="text" 
      formControlName="name" 
      class="form-control"
      placeholder="Name">
    </div>

    <div>
      <label for="description">Description</label>
      <textarea 
      class="input-group" 
      type="text"
      formControlName="description"
      class="form-control"
      placeholder="Add description"
      rows="3"></textarea>
    </div>

    <div >
      <label for="image">Image</label>
      <button class="btn btn-info">Upload</button>
      <input 
      class="input-group"
      type="text" 
      formControlName="imageUrl"
      class="form-control"
      placeholder="imageurlvagyvalami">
    </div>
 
  
    <button type="submit" class="btn btn-primary gy-3" >Save</button>
    <a href="plants" class="btn btn-primary">Cancel</a>
  </form>
</div>
</div>

<router-outlet></router-outlet>